@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.gmnoprint {
  display: none;
}

.gm-style-cc {
  display: none;
}
.marker-label {
  color: white !important;
  font-size: 2rem;
  font-weight: 900 !important;
  text-shadow: 0 0 1px white;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 66, 55);
  box-shadow: 0 0 5px black;
  border-radius: 100%;
}

.marker-pickup {
  background-color: rgb(234, 153, 8);
}
